name: CI
on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}-TrialReportCI
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - Makie - ${{ matrix.makie }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1'
          - '1.9'
          - '1.6'
        os:
          - ubuntu-latest
        arch:
          - x64
        makie:
            - '0.20'
            - '0.21'
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v1
        with:
          cache-compiled: true
          cache-name: ${{ github.workflow }}-${{ github.job }}-${{ matrix.os }}-${{ matrix.version }}-${{ matrix.arch }}-${{ matrix.makie }}
      - name: "Install Makie and instantiate project"
        shell: julia --color=yes --project {0}
        run: |
          using Pkg
          Pkg.add(Pkg.PackageSpec(; name="Makie", version="${{ matrix.makie }}"))
          Pkg.instantiate()
      - uses: julia-actions/julia-runtest@v1
      - name: Percy Upload
        uses: percy/exec-action@v0.3.1
        if: ${{ matrix.version == 1 && matrix.makie == 0.20 }}
        with:
          custom-command: "npx @percy/cli upload ./test/plot_results"
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          file: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1.10'
      - uses: julia-actions/cache@v1
        with:
           cache-compiled: true
           cache-name: ${{ github.workflow }}-${{ github.job }}
      - run: |
          julia --project=docs -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()'
      - run: julia --project=docs docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
